---
import { PRODUCTOS } from "./Productos";
import "./Productos";
---

<!-- <h1 class="text-3xl font-semibold bg-purple-800/70 text-center rounded p-4">
  Catalogo de Productos.
</h1> -->
<section class="ml-6 mr-6 grid grid-cols-2 md:grid-cols-3 ">
  {
    PRODUCTOS.map(
      ({
        foto,
        nombre,
        descripcion,
        caracteristicas,
        dimensiones,
        material,
        instrucciones,
        precauciones,
        precio,
        descuento,
      }) => (
        <article class="bg-gray-100 m-2 border-fuchsia-950 border rounded-md p-4">
          <section>
            <img src={foto} alt={descripcion} class="object-cover rounded-md w-1/2 m-auto" />
            <h2 class="text-2xl text-center font-semibold text-purple-400">{nombre}</h2>
            <section class="text-gray-600 m-1 text-xs">
              <ul>
                <li>- {descripcion}</li>
                <li>- {caracteristicas}</li>
                <li>- {dimensiones}</li>
                <li>- {material}</li>
                <li>- {instrucciones}</li>
                <li>- {precauciones}</li>
                <li>- ${precio} - {descuento}</li>
              </ul>
            </section>
          </section>
        </article>
      )
    )
  }
</section>
